body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #18181b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-black {
  background-color: #000;
}

.flex {
  display: flex;
  flex-direction: row;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.w-50vw {
  width: 50vw;
}

.special-blue {
  background-color: #2A4365;
  color: #fff;
}

.text-center {
  text-align: center;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-3 {
  padding-top: 3px;
}

.pb-3 {
  padding-bottom: 3px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.bold {
  font-weight: bold;
}

.text-size-200 {
  font-size: 200%;
}

.text-size-180 {
  font-size: 180%;
}

.text-size-160 {
  font-size: 160%;
}

.text-size-140 {
  font-size: 140%;
}

.text-size-120 {
  font-size: 120%;
}

.text-size-100 {
  font-size: 100%;
}

.text-size-80 {
  font-size: 80%;
}

.text-white {
  color: #fff;
}

.text-underline {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  padding: 50px;
  row-gap: 50px;
}

.green-shade {
  background-color: #14532d;
}

.purple-shade {
  background-color: #512DA8;
}

.pointer-cursor {
  cursor: pointer;
}

.rounded-borders {
  border-radius: 50%;
}

.img-center {
  margin: auto;
}

@media screen and (min-width: 992px) {

  .grid {
    grid-template-columns: auto auto;
    column-gap: 50px;
  }
  
}